#contact{
    height: 100vh;
    color: #fff;
    /* background: rgb(119, 255, 7); */
}


.title{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.font-details {
    font-size: 3em;
    font-weight: 500;
    color: #8173fff8;
  }